* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.conteiner {
  max-width: 1100px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header_nav .menu {
  list-style: none;
}
.header_nav .menu .menu_item a {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #696871;
  text-decoration: none;
}
.header_nav .menu .menu_item {
  display: inline-block;
}
.header_button button {
  background: #ff7143;
  border-radius: 10px;
  border: none;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
